html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(43, 92, 105);
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    color: white;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
}

a {
    color: white;
}

a:hover {
    text-shadow: 0 0 10px rgba(100,100,255,.7)
}

.bolder {
    font-weight: bold;
}


/* ============================== SCROLLBARS =============================== */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(255,255,255,0.7);
}

::-webkit-scrollbar-corner {
    display: none;
}


/* =============================== GREETING ================================ */
.greeting {
    font-weight: bold;
    margin: 0;
}


/* ================================= TABLE ================================= */
.table-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    font-size: 12px;
    height: 270px;
}

.table-container h3 {
    text-align: center;
    margin: 0;
}

.col-1of3 {
    box-sizing: border-box;
    flex: 1 0 33.33333%;
    overflow: hidden;
    padding: 0 10px;
}

.col-1of3:hover {
    overflow: auto;
    padding-right: 5px;
}

ul.col-list {
    list-style: none;
    padding: 0;
}

ul.col-list li {
    align-items: center;
    display: flex;
    margin: 15px 0;
}

ul.col-list img {
    border-radius: 50%;
    flex: none;
    height: 45px;
    width:  45px;
}

ul.col-list p {
    flex: 1 auto;
    margin: 0 0 0 5px;
}


/* ================================= CHART ================================= */

.chart-container {
    box-sizing: border-box;
    margin-top: 20px;
}

.chart-line {
    stroke: white;
    stroke-width: 2;
}

.chart-circle {
    fill: rgba(255, 255, 255, 1);
    stroke: none;
}

.labels.x-labels {
    text-anchor: middle;
}

.labels.y-labels {
   text-anchor: end;
}

.labels {
    font-size: 12px;
    fill: white;
}

.horiz-rule {
   stroke: rgba(60, 60, 60, .3);
   stroke-dasharray: 0;
   stroke-width: 0.5px;
}


/* ============================= MODAL OVERLAY ============================= */
#overlay {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 998;
}


/* ============================= MODAL PROMPT ============================== */
.user-modal {
    box-sizing: border-box;
    display: block;
    position: fixed;
    top: -200px;
    width: 100%;
    z-index: 999;
    -webkit-transition: -webkit-transform 0.3s ease;
       -moz-transition: -webkit-transform 0.3s ease;
         -o-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.user-modal-show {
    -webkit-transform: translateY(240px);
       -moz-transform: translateY(240px);
        -ms-transform: translateY(240px);
         -o-transform: translateY(240px);
            transform: translateY(240px);
}

.user-modal > form {
    background: rgb(36, 36, 36);
    border-radius: .5em;
    margin: auto;
    padding: .5em 1em 1em .5em;
    width: 420px;
}

.user-modal .InputAddOn-item {
    background: rgb(45, 45, 45);
    color: white;
}

.user-modal button {
//    flex: none;
    display: inline-block;
    background: rgb(45, 45, 45);
    font-weight: bold;
    width: 100%;
    cursor: pointer;
}


/* ============================== REPO SELECT ============================== */


.hidden {
    display: none;
}

.repo-select-highlight {
    font-weight: bold;
    cursor: pointer;
}

.repo-list {
    position: absolute;
    box-sizing: border-box;
    width: 480px;
}

.repo-list p {
    margin: 0;
    padding: 0.1em;
    cursor: pointer;
}

.repo-list .inputs {
    margin: .5em 1em;
}

.repo-list ul {
    border-radius: .5em;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.repo-list ul > li {
    padding: .75em;
    color: rgb(187, 187, 187);
}

.repo-list ul > li p {
    width: 420px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-list ul > li p:first-child {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
}

.repo-list ul > li:nth-child(even) {
    background: rgb(36, 36, 36);
}

.repo-list ul > li:nth-child(odd) {
    background: rgb(45, 45, 45);
}

.repo-list .li-descriptions {
    display: inline-block;
}

.repo-list .li-remove {
    cursor: pointer;
    float: right;
    padding: .85em .25em;
}

.repo-list .li-remove:hover {
    color: #f33;
}

.new-repo-form {
    display: flex;
    flex-flow: row no-wrap;
    margin-top: .5em;
}

.new-repo-form > input,
.new-repo-form > button {
    border: none;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.5em;
}

.new-repo-form > input {
    flex: 1;
}

.new-repo-form > input:first-child {
    border-radius: .5em 0 0 .5em;
    border-right: 1px solid #ccc;
}

.new-repo-form > button {
    background-color: #ccc;
    border-radius: 0 .5em .5em 0;
    font-weight: bold;
    width: 2.75em;
    cursor: pointer;
}


/* ============== responsive boogers ============== */

@media all and (min-width: 1080px) {
    .table-container {
        font-size: 14px;
        height: 312px;
    }
    
    ul.col-list img {
        height: 50px;
        width:  50px;
    }
}

@media all and (max-width: 720px) {
    .table-container {
        display: block;
        height: auto;
        margin: 0 auto;
        max-width: 600px;
        width: 80%;
    }
    .col-1of3,
    .col-1of3:nth-child(2) {
        border: none;
        flex: none;
    }
}